{% extends 'base.html' %}
{% block body %}

<h1>Stations on DronKosmiczny</h1>

<table>
  <tr>
      <th>id</th>
      <th>username</th>
      <th>mac address</th>
      <th>description</th>
      <th>created</th>
      <th>created by</th>
      <th>modified</th>
  </tr>
  {% for item in object_list %}
  <tr>
    <td><a href='{% url 'stations:update' item.pk %}'>{{ item.pk }}</a></td>
    <td>{{ item.username }}</td>
    <td>{{ item.mac|default_if_none:'' }}</td>
    <td>{{ item.description|default_if_none:'' }}</td>
    <td>{{ item.created|default_if_none:'' }}</td>
    <td>{{ item.created_by_id|default_if_none:'' }}</td>
    <td>{{ item.modified|default_if_none:'' }}</td>
    <td><a href="{% url 'stations:delete' item.pk %}">&#10005;</a></td>
  </tr>
  {% empty %}
  <tr>
    <td>No items yet.</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
