{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Freeradius</title>
    <meta name="Author" content="dominik szmek" />
    <meta name="Copyright" content="MIT" />
    <meta name="Language" content="pl" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> 
    {% endblock %}

  </head>
  <body>

    <div class="container">

      <!-- navbar -->
      
      <div class="row navbar">
        <div class="twelve columns">
          <ul>
            {% if user.is_authenticated %}
            <li>
              <strong>{{ user.username }}</strong>
              <a href="{% url 'stations:logout' %}" title="log out">&#9746;
              </a>
            </li>
	        <li><a href="{% url 'admin:index' %}" target="_blank">admin</a></li>
	        <li><a href="{% url 'stations:create' %}">add</a></li>
	        <li><a href="{% url 'stations:acct' %}">acct</a></li>
	        <li><a href="{% url 'stations:postauth' %}">postauth</a></li>
	        <li><a href="{% url 'stations:index' %}">index</a></li>
            {% else %}
            <li><a href="{% url 'stations:login' %}" title="log in">login</li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          
    	  {% block body %}{% endblock %}
          
        </div>
      </div>
 
    </div>    <!-- end container -->

    {% block footer %}{% endblock %}

    <div style="top-margin:50px;">&nbsp;</div>
  </body>
</html>
